@font-face {
  font-family: 'Exo 2';
  font-weight: 700;
  src: url("../fonts/Exo2-Bold.ttf") format("ttf"); }

@font-face {
  font-family: 'Exo 2';
  font-weight: 600;
  src: url("../fonts/Exo2-SemiBold.ttf") format("ttf"); }

@font-face {
  font-family: 'Exo 2';
  font-weight: 500;
  src: url("../fonts/Exo2-Medium.otf") format("otf");
  src: url("../fonts/Exo2-Medium.ttf") format("ttf"); }

@font-face {
  font-family: 'Exo 2';
  font-weight: 400;
  src: url("../fonts/Exo2-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'Exo 2';
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Exo2-Italic.ttf") format("ttf"); }

* {
  font-family: 'Exo 2', sans-serif; }

.container {
  max-width: 1000px; }

header {
  background: url("../img/bg-header.png");
  background-size: cover;
  padding-bottom: 110px;
  position: relative; }
  header .menu {
    text-align: center;
    padding: 20px 0;
    position: relative;
    margin-bottom: 50px; }
    header .menu:after {
      content: "";
      position: absolute;
      width: 85%;
      height: 1px;
      margin: 0 auto;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
      background: rgba(255, 255, 255, 0.2); }
    header .menu ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      header .menu ul li {
        display: inline-block;
        margin-right: 40px; }
        header .menu ul li:last-child {
          margin-right: 0; }
        header .menu ul li a {
          color: #fff;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 14px;
          display: block; }
  header .logo {
    text-align: right; }
  header .number {
    text-align: right; }
    header .number a {
      color: #fff; }
    header .number .tel a {
      font-size: 30px;
      letter-spacing: 0.8px; }
    header .number .text {
      text-align: right; }
      header .number .text img {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 15px; }
      header .number .text a {
        font-size: 16px;
        font-style: italic;
        text-decoration: underline; }
  header .l-n {
    margin-bottom: 60px; }
  header .text {
    text-align: center;
    color: #fff;
    line-height: 42px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 36px; }
    header .text span {
      font-weight: 400;
      margin-top: 10px;
      font-size: 30px; }
  header .arrow {
    bottom: -4px;
    z-index: 99;
    position: absolute;
    height: 46px;
    width: 46px;
    background: #fff;
    -webkit-transform: rotate(-45deg) translateX(-50%);
    -ms-transform: rotate(-45deg) translateX(-50%);
    transform: rotate(-45deg) translateX(-50%);
    background-color: #fff;
    border: solid 3px #ffc61d;
    text-align: center;
    cursor: pointer;
    left: 50%; }
    header .arrow img {
      margin-top: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease; }
    header .arrow:hover img {
      -webkit-transform: rotate(405deg);
      -ms-transform: rotate(405deg);
      transform: rotate(405deg); }

#block1 {
  padding: 60px 0 390px 0; }
  #block1 .bg {
    background: url("../img/bg-section.png");
    background-size: cover; }
    #block1 .bg .list {
      list-style: none;
      margin: 0;
      padding: 0; }
      #block1 .bg .list li {
        color: #000;
        line-height: 24px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 20px; }
        #block1 .bg .list li:last-child {
          margin-bottom: 0; }
  #block1 .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    color: #878787;
    margin-bottom: 45px; }
    #block1 .title span {
      color: #efb524; }
  #block1 h2 {
    color: #000;
    margin-bottom: 80px; }
  #block1 .items {
    margin-bottom: 60px; }
  #block1 .text {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #878787;
    margin-bottom: 70px; }
  #block1 .button-block {
    text-align: center; }
  #block1 .btn-main {
    display: inline-block;
    line-height: 40px;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5cf41), to(#f1ba2d));
    background-image: -webkit-linear-gradient(top, #f5cf41, #f1ba2d);
    background-image: -o-linear-gradient(top, #f5cf41, #f1ba2d);
    background-image: linear-gradient(to bottom, #f5cf41, #f1ba2d);
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2); }

#block2 {
  background-image: -webkit-radial-gradient(50% 50%, circle, #ffe400, #ffd300);
  background-image: -o-radial-gradient(50% 50%, circle, #ffe400, #ffd300);
  background-image: radial-gradient(circle at 50% 50%, #ffe400, #ffd300);
  position: relative;
  display: inline-block;
  padding-top: 200px;
  padding-bottom: 40px;
  width: 100%; }
  #block2 .video {
    padding: 10px;
    background: #f1ba2e;
    border-radius: 6px;
    display: inline-block;
    margin: 0 auto;
    height: 420px;
    position: absolute;
    top: -210px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    #block2 .video iframe {
      width: 700px;
      height: 400px; }
  #block2 h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #23282f; }
  #block2 .item {
    margin-bottom: 50px; }
    #block2 .item .img-block {
      background: #fff;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      text-align: center;
      margin: 0 auto 12px auto; }
      #block2 .item .img-block img {
        margin-top: 15px;
        max-width: 100%; }
    #block2 .item .title {
      color: #23282f;
      font-size: 26px;
      text-align: center;
      font-weight: 600;
      letter-spacing: 2px;
      margin-bottom: 6px;
      line-height: 31px; }
    #block2 .item .description {
      font-size: 20px;
      letter-spacing: 1.4px;
      text-align: center;
      color: #23282f;
      line-height: 24px; }

#block4 {
  background: #edc036;
  padding: 52px 0;
  position: relative;
  overflow: hidden; }
  #block4:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/bg-callback.png") no-repeat right center;
    height: 170px;
    background-size: cover;
    width: 40%;
    z-index: 97; }
  #block4 .text {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.7px;
    text-align: left;
    color: #000000;
    line-height: 29px;
    position: relative;
    z-index: 98; }
    #block4 .text span {
      margin-top: 6px;
      display: block;
      font-weight: 400;
      color: #fff;
      margin-bottom: 0; }
  #block4 .button-block {
    text-align: right;
    position: relative;
    z-index: 99; }
    #block4 .button-block a {
      display: inline-block;
      border-radius: 6px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f5cf41), to(#f1ba2d));
      background-image: -webkit-linear-gradient(top, #f5cf41, #f1ba2d);
      background-image: -o-linear-gradient(top, #f5cf41, #f1ba2d);
      background-image: linear-gradient(to bottom, #f5cf41, #f1ba2d);
      font-size: 20px;
      line-height: 2;
      letter-spacing: 1px;
      color: #ffffff;
      padding: 10px 30px; }
      #block4 .button-block a:hover {
        text-decoration: none; }

#block5 {
  padding-top: 60px;
  padding-bottom: 50px; }
  #block5 img {
    bottom: 60px;
    position: relative; }
  #block5 .mb {
    margin-bottom: 135px; }
  #block5 .title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1.7px;
    color: #23282f; }
  #block5 .description {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: 0.9px;
    color: #23282f; }
  #block5 .line {
    height: 2px;
    background-color: #f3c437;
    margin: 0 auto; }
    #block5 .line__t {
      width: 50%;
      margin-top: 80px;
      margin-bottom: 30px; }
    #block5 .line__b {
      width: 30%; }

#block6 h2 {
  margin-bottom: 40px; }

#block6 .container {
  width: 60%; }

#block6 .slider-for {
  margin-bottom: 30px; }
  #block6 .slider-for img {
    width: 70%;
    margin: 0 auto; }

#block6 .slider-nav {
  margin-bottom: 50px; }
  #block6 .slider-nav img {
    max-width: 100%; }
  #block6 .slider-nav .slick-slide {
    margin-right: 20px; }
    #block6 .slider-nav .slick-slide img {
      width: 112px; }
  #block6 .slider-nav .slick-active:last-child {
    margin-right: 0; }

#block6 .line {
  height: 2px;
  width: 120%;
  background: #f3c437; }

#block7 {
  padding: 50px 0 90px 0;
  overflow: hidden; }
  #block7 h2 {
    margin-bottom: 60px; }
  #block7 .item .img-block {
    width: 100px;
    height: 100px;
    margin: 0 auto 12px auto; }
  #block7 .item .description {
    height: 120px;
    font-size: 18px;
    letter-spacing: 1.1px;
    text-align: center;
    color: #23282f; }
  #block7 .item__6 {
    width: 49%;
    float: left;
    position: relative;
    margin-bottom: 70px; }
  #block7 .item__4 {
    width: 32%;
    float: left;
    position: relative;
    margin-bottom: 70px; }
  #block7 .item__line:after {
    z-index: -1;
    content: "";
    top: 20%;
    left: 50%;
    height: 4px;
    background: #f3c437;
    width: 100%;
    position: absolute; }
  #block7 .item__line2:before {
    z-index: -1;
    content: "";
    top: 20%;
    right: 50%;
    height: 4px;
    background: #f3c437;
    width: 100%;
    position: absolute; }
  #block7 .item__fullline:after {
    z-index: -1;
    content: "";
    top: 20%;
    left: 50%;
    height: 132%;
    border-radius: 0 50% 50% 0;
    border-right: solid 4px #f3c437;
    border-top: solid 4px #f3c437;
    border-bottom: solid 4px #f3c437;
    width: 50%;
    position: absolute; }
  #block7 .item__fullline2:after {
    z-index: -1;
    content: "";
    top: 20%;
    height: 132%;
    border-radius: 50% 0 0 50%;
    border-left: solid 4px #f3c437;
    border-top: solid 4px #f3c437;
    border-bottom: solid 4px #f3c437;
    width: 80%;
    position: absolute; }

#block8 {
  padding: 50px 0;
  background: #f9f7f3; }
  #block8 h2 {
    margin-bottom: 20px;
    color: #23282f; }
  #block8 .table {
    margin-bottom: 40px; }
    #block8 .table table {
      width: 100%; }
      #block8 .table table thead {
        border-bottom: solid 1px #e1dcd1; }
        #block8 .table table thead th {
          padding: 20px 0;
          margin: 0;
          border-bottom: 0;
          border-top: 0;
          font-weight: 500;
          font-size: 16px;
          color: #23282f;
          letter-spacing: 1.1px;
          text-align: center;
          vertical-align: top;
          line-height: 20px; }
      #block8 .table table tbody tr {
        border-bottom: solid 1px #e1dcd1; }
      #block8 .table table tbody th {
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #23282f;
        letter-spacing: 1.1px; }
  #block8 .button-block {
    text-align: center; }
    #block8 .button-block .btn-main {
      padding: 18px 24px;
      display: inline-block;
      line-height: 24px;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 1px;
      color: #fff;
      margin-right: 8px;
      border-radius: 6px;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f5cf41), to(#f1ba2d));
      background-image: -webkit-linear-gradient(top, #f5cf41, #f1ba2d);
      background-image: -o-linear-gradient(top, #f5cf41, #f1ba2d);
      background-image: linear-gradient(to bottom, #f5cf41, #f1ba2d);
      -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
      -webkit-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease; }
      #block8 .button-block .btn-main:hover {
        text-decoration: none;
        -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4); }
      #block8 .button-block .btn-main img {
        vertical-align: middle; }

#block9 {
  padding: 50px 0;
  display: inline-block;
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.7px;
  text-align: center;
  color: #23282f; }

#block10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 556px; }
  #block10 .item {
    width: 50%;
    float: left; }
    #block10 .item__block {
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 1px;
      color: #000000;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      #block10 .item__block strong {
        display: block;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 8px; }
      #block10 .item__block .title {
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 2.7px;
        color: #000000;
        margin-bottom: 30px; }
  #block10 #map {
    position: absolute;
    width: 60%;
    right: 0;
    height: 100%;
    top: 0; }

.slick-prev:after {
  content: url("../img/left_arrow.png");
  color: red;
  font-size: 30px; }

.slick-next:after {
  content: url("../img/right_arrow.png");
  color: red;
  font-size: 30px; }

h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2.6px;
  text-align: center; }
