
@media screen and (max-width: 1440px)
	.menu ul li a
		font-size: 16px
	h2
		font-size: 36px
	.owl-org .owl-item.active.center .item 
		.info__name
			font-size: 24px
		.info__prof
			font-size: 16px
	.owl-org .owl-item .item 
		.info__name
			font-size: 16px
		.info__prof
			font-size: 12px
	#block3 .description
		font-size: 24px
	#block3 .button-block__title
		font-size: 24px
	#block3 .button-block__des
		font-size: 16px
	#block7 .list ul li, footer ul li
		font-size: 24px
	#block8 form .more
		font-size: 24px
		padding: 20px 100px

	.owl-prod .owl-item.active.center .item .info__name
		font-size: 24px
	#block8 .description, #block8 form input
		font-size: 18px
	footer .copyright
		font-size: 12px


@media screen and (max-width: 992px)
	.fix-soc
		right: 100px !important