@import "libs/_mixins.scss"



@font-face 
	font-family: 'Exo 2'
	font-weight: 700
	src: url('../fonts/Exo2-Bold.ttf') format('ttf')

@font-face 
	font-family: 'Exo 2'
	font-weight: 600
	src: url('../fonts/Exo2-SemiBold.ttf') format('ttf')

@font-face 
	font-family: 'Exo 2'
	font-weight: 500
	src: url('../fonts/Exo2-Medium.otf') format('otf')
	src: url('../fonts/Exo2-Medium.ttf') format('ttf')

@font-face 
	font-family: 'Exo 2'
	font-weight: 400
	src: url('../fonts/Exo2-Regular.ttf') format('ttf')


@font-face 
	font-family: 'Exo 2'
	font-weight: 400
	font-style: italic
	src: url('../fonts/Exo2-Italic.ttf') format('ttf')

*
	font-family: 'Exo 2', sans-serif

a:hover
	text-decoration: none

.content-none
	display: none
header
	background: url('../img/bg-header.png')
	background-size: cover
	padding-bottom: 110px
	.container
		position: relative
	.menu
		text-align: center
		padding: 20px 0
		position: fixed
		top: 0
		left: 0
		width: 100%
		transition: all .5s ease
		z-index: 100
		&.fixed
			background: rgba(#ffc61d, .8)
			&:after
				content: none
		&:after
			content: ""
			position: absolute
			width: 100%
			max-width: 1000px
			height: 1px
			margin: 0 auto
			left: 50%
			transform: translateX(-50%)
			bottom: 0
			background: rgba(#fff, .2)
	
		ul

			list-style: none
			padding: 0 
			margin: 0
			li
				display: inline-block
				margin-right: 40px
				&:last-child
					margin-right: 0
				a
					color: #fff
					font-weight: 600
					letter-spacing: 1px
					text-transform: uppercase
					font-size: 14px
					display: block
	.logo
		text-align: right

	.number
		text-align: right
		a
			color: #fff
		.tel
			a
				font-size: 30px
				letter-spacing: 0.8px
		.text
			text-align: right
			img
				display: inline-block
				vertical-align: baseline
				margin-right: 15px
			a
				font-size: 16px
				font-style: italic
				text-decoration: underline
	.l-n
		padding-top: 120px
		margin-bottom: 60px

	.text
		text-align: center
		color: #fff
		line-height: 42px
		letter-spacing: 1px
		font-weight: 500
		font-size: 36px
		span
			font-weight: 400
			margin-top: 10px
			font-size: 30px

	.arrow
		bottom: -117px
		z-index: 99
		position: absolute
		height: 46px
		width: 46px
		background: #fff
		transform: rotate(-45deg) translateX(-50%)
		background-color: #fff
		border: solid 3px #ffc61d
		text-align: center
		cursor: pointer
		left: 50%
		img
			margin-top: 10px
			transform: rotate(45deg)
			transition: .5s ease
		&:hover img
			transform: rotate(405deg)

#block1
	padding: 60px 0 390px 0
	
	.bg
		background: url('../img/bg-section.png')
		background-size: cover
		.list
			list-style: none
			margin: 0
			padding: 0
			li
				color: #000
				line-height: 24px
				font-size: 20px
				font-weight: 500
				letter-spacing: 1px
				margin-bottom: 20px
				&:last-child
					margin-bottom: 0
	.title
		font-size: 24px
		font-weight: 600
		text-align: center
		letter-spacing: 2px
		color: #878787
		margin-bottom: 45px
		span
			color: #efb524

	h2
		color: #000
		margin-bottom: 80px
	.items
		margin-bottom: 60px
		.images
			height: 400px
			img
				cursor: pointer
				transition: all .5s ease
				&:hover
					transform: scale(1.2)
			&__1
				top: 5%
			&__2
				top: 24%
				left: 20%
			&__3
				top: -10%
				right: 18%
			&__4
				bottom: -5%
				left: 2%
			&__5
				right: 15%
				bottom: -5%
			&__6
				bottom: 25%
				right: -2%

	.text
		font-size: 24px
		letter-spacing: 2px
		font-weight: 500
		color: #878787
		margin-bottom: 70px
	.button-block
		text-align: center
	.btn-main
		display: inline-block
		line-height: 40px
		padding: 10px 20px
		font-size: 20px
		letter-spacing: 1px
		color: #fff
		border-radius: 6px
		background-image: linear-gradient(to bottom, #f5cf41, #f1ba2d)
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2)


#block2
	background-image: radial-gradient(circle at 50% 50%, #ffe400, #ffd300)
	position: relative
	display: inline-block
	padding-top: 200px
	padding-bottom: 40px
	width: 100%
	.video
		padding: 10px
		background: #f1ba2e
		border-radius: 6px
		display: inline-block
		margin: 0 auto
		height: 420px
		position: absolute
		top: -210px
		left: 50%
		transform: translateX(-50%)
		iframe
			width: 700px
			height: 400px
	h2
		margin-top: 50px
		margin-bottom: 50px
		
		color: #23282f
	.item
		margin-bottom: 50px
		.img-block
			background: #fff
			border-radius: 50%
			width: 80px
			height: 80px
			text-align: center
			margin: 0 auto 12px auto
			img
				margin-top: 15px
				max-width: 100%
		.title
			color: #23282f
			font-size: 26px
			text-align: center
			font-weight: 600
			letter-spacing: 2px
			margin-bottom: 6px
			line-height: 31px
		.description
			font-size: 20px
			letter-spacing: 1.4px
			text-align: center
			color: #23282f
			line-height: 24px

#block4
	background: #edc036
	padding: 52px 0
	position: relative
	overflow: hidden
	&:after
		content: ""
		position: absolute
		top: 0
		right: 0
		background: url('../img/bg-callback.png') no-repeat right center
		height: 100%
		background-size: cover
		width: 40%
		z-index: 97
	.text
		font-size: 24px
		font-weight: 700
		letter-spacing: 1.7px
		text-align: left
		color: #000000
		line-height: 29px
		position: relative
		z-index: 98
		span
			margin-top: 6px
			display: block
			font-weight: 400
			color: #fff
			margin-bottom: 0
	.button-block
		text-align: right
		position: relative
		z-index: 99
		a
			display: inline-block
			border-radius: 6px
			background-image: linear-gradient(to bottom, #f5cf41, #f1ba2d)
			font-size: 20px
			line-height: 2
			letter-spacing: 1px
			color: #ffffff
			padding: 10px 30px
			&:hover
				text-decoration: none

#block5
	padding-top: 60px
	padding-bottom: 50px
	img
		bottom: 60px
		position: relative
	.mb
		margin-bottom: 80px
	.title
		font-size: 24px
		line-height: 29px
		margin-bottom: 10px
		font-weight: 700
		letter-spacing: 1.7px
		color: #23282f
	.description
		font-size: 18px
		line-height: 1.11
		letter-spacing: 0.9px
		color: #23282f

	.line
		height: 2px
		background-color: #f3c437
		margin: 0 auto
		&__t
			width: 50%
			margin-top: 80px
			margin-bottom: 30px
		&__b
			width: 30%
		
#block6
	h2
		margin-bottom: 40px
	.container
		width: 60%
	.slider-for
		margin-bottom: 30px
		.item
			cursor: pointer
		img
			width: 99%
			margin: 0 auto
	.slider-nav
		margin: 0px -20px 50px -20px
		overflow: hidden
		.slick-list
		img
			max-width: 100%
		.slick-slide
			padding: 5px
			margin: 0 20px
			transition: .5s ease
			cursor: pointer
			text-align: center
			box-sizing: border-box
			border: solid 1px rgba(#ccc, .6)
			opacity: .6
			img
				width: 112px
				margin: 0 auto
			&.slick-current, &:hover
				opacity: 1 !important
				border: solid 1px #ccc !important
				
		.slick-slide:last-child
			margin-right: 0
	.line
		height: 2px
		width: 100%
		background: #f3c437

#block7
	padding: 50px 0 90px 0
	overflow: hidden
	h2
		margin-bottom: 60px
	.item
		.img-block
			width: 100px
			height: 100px
			margin: 0 auto 12px auto
		.description
			height: 120px
			font-size: 18px
			letter-spacing: 1.1px
			text-align: center
			color: #23282f
		&__6
			width: 49%
			float: left
			position: relative
			margin-bottom: 70px	
		&__4
			width: 32%	
			float: left
			position: relative
			margin-bottom: 70px
				
		&__line
			&:after
				z-index: -1
				transition: width 2s ease
				content: ""
				top: 20%
				left: 50%
				height: 4px
				background: #f3c437
				width: 100%
				position: absolute

		&__line2
			&:before
				z-index: -1
				transition: width 2s ease
				content: ""
				top: 20%
				right: 50%
				height: 4px
				background: #f3c437
				width: 100%
				position: absolute
		&__fullline:after
			z-index: -1
			content: ""
			top: 20%
			left: 50%
			height: 132%
			border-radius: 0 50% 50% 0
			border-right: solid 4px #f3c437
			border-top: solid 4px #f3c437
			border-bottom: solid 4px #f3c437
			width: 50%
			position: absolute
			transition: width 2s ease
		&__fullline2:after
			z-index: -1
			content: ""
			top: 20%
			height: 132%
			border-radius: 50% 0 0 50%
			border-left: solid 4px #f3c437
			border-top: solid 4px #f3c437
			border-bottom: solid 4px #f3c437
			width: 80%
			position: absolute
			transition: width 2s ease


#block8
	padding: 50px 0
	background: #f9f7f3
	h2
		margin-bottom: 20px
		color: #23282f
	.table
		margin-bottom: 40px
	
		table
			width: 100%
			thead
				
				border-bottom: solid 1px #e1dcd1
				th
					padding: 20px 0
					margin: 0
					border-bottom: 0
					border-top: 0
					font-weight: 500
					font-size: 16px
					color: #23282f
					letter-spacing: 1.1px
					text-align: center
					vertical-align: top
					line-height: 20px
			tbody
				tr
					border-bottom: solid 1px #e1dcd1
					text-align: center
				th
					text-align: center
					font-weight: 500
					font-size: 16px
					line-height: 20px
					color: #23282f
					letter-spacing: 1.1px
	.button-block
		text-align: center
		.btn-main
			padding: 18px 24px
			display: inline-block
			line-height: 24px
			cursor: pointer
			border: 0
			font-weight: 700
			font-size: 20px
			letter-spacing: 1px
			color: #fff
			margin-right: 8px
			border-radius: 6px
			background-image: linear-gradient(to bottom, #f5cf41, #f1ba2d)
			box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2)
			transition: .5s ease
			&:hover
				text-decoration: none
				box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4)
			img
				vertical-align: middle
				transition: .5s ease


#block9
	padding: 50px 0
	display: inline-block
	width: 100%
	font-size: 24px
	font-weight: 500
	font-style: normal
	font-stretch: normal
	line-height: normal
	letter-spacing: 1.7px
	text-align: center
	color: #23282f


#block10
	display: flex
	align-items: center
	position: relative
	width: 100%
	overflow: hidden
	height: 400px
	&:after
		content: ''
		position: absolute
		height: 400%
		width: 65%
		transform: rotate(20deg)
		background-image: radial-gradient(circle at 50% 50%, #ffe400, #ffd300)
		top: -130%
		left: -20%
		z-index: 98
	.item
		
		&__block
			width: 50%
			font-size: 18px
			padding-left: 15px
			line-height: 22px
			letter-spacing: 1px
			color: #000000
			position: relative
			z-index: 99
			a
				font-size: 18px
				letter-spacing: 1px
				color: #000000
				&:hover
					text-decoration: none
			strong
				display: block
				font-weight: 600
				font-size: 20px
				margin-bottom: 8px
			.title
				font-size: 40px
				font-weight: 500
				letter-spacing: 3px
				color: #000000
				margin-bottom: 30px
			p
				margin-bottom: 10px

	#map
		position: absolute
		z-index: 97
		width: 60%
		right: 0
		height: 100%
		top: 0
#footer
	padding-top: 40px
	padding-bottom: 195px
	background: url('../img/bg-footer.png') no-repeat
	background-position: center bottom
	h2
		margin-bottom: 20px
		color: #23282f
	p
		color: #919191
		font-weight: 500
		font-size: 24px
		letter-spacing: 2px
		line-height: 28px
		text-align: center
		margin-bottom: 30px
	form
		position: relative
		width: 40%
		box-sizing: border-box
		padding: 50px 55px 0 55px
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2)
		background-color: #ffffff
		border: solid 3px #f1b82d
		input
			width: 100%
			box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.1)
			background-color: #ffffff
			border: solid 1px #e2e2e2
			padding: 12px 20px
			color: #000
			font-weight: 500
			font-size: 18px
			line-height: 22px
			letter-spacing: 1px
			margin-bottom: 25px
			&:last-child
				margin-bottom: 0
			&::placeholder
				color: #000
		button
			position: relative
			bottom: -25px
			width: 90%
			border-radius: 6px
			padding: 12px 0
			text-align: center
			font-weight: 500
			font-size: 24px
			line-height: 28px
			letter-spacing: 1.2px
			color: #fff
			border: 0
			cursor: pointer
			background-image: linear-gradient(to bottom, #f5cf41, #f1ba2d)
			box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2)

.copyright
	text-align: right
	padding: 30px 0
	a
		color: #000
		font-size: 18px
		letter-spacing: 1px
		text-align: left
		color: #23282f
		
@media screen and (min-width: 1168px)
	.container
		max-width: 1000px
	

@media screen and (max-width: 992px)
	header
		.logo
			text-align: left
		.menu ul li
			margin-right: 20px
		.number .text 
			a
				font-size: 14px
		.text
			font-size: 30px
			span
				font-size: 24px

	#block1 
		.title
			font-size: 18px
		.text
			font-size: 18px
			margin-bottom: 20px
		.items
			overflow: hidden
			margin-bottom: 90px
			.images
				&__3
					right: -3%
				&__5
					right: 9%
					bottom: -16%
				&__6
					bottom: 0
					right: -20%
	#block4 .text
		font-size: 18px
	body h2
		font-size: 30px 
	#block7 
		padding: 30px 0
		.item .description
			font-size: 12px
	#block9
		font-size: 18px
	#block10
		height: 300px
		.item__block 
			.title
				font-size: 24px
	#footer form
		width: 70%
	
@media screen and (max-width: 767px)
	header
		.logo
			text-align: center
		.number
			text-align: center
			.text
				text-align: center
		.text
			font-size: 20px
			span
				font-size: 20px
		.menu
			padding: 5px 0
			.menu-mob
				display: inline-block
				float: right
				position: relative
				bottom: 15px
				cursor: pointer
				margin-top: 20px
				margin-right: 15px
				img
					width: 32px

			&.fixed
				background: rgba(255,198,29,1)
				

			ul
				display: none
				background: #f3c437
				position: absolute
				z-index: 99
				top: 100%
				width: 100%
				li
					display: block
					border-bottom: solid 1px #fff
					margin-right: 0
					&:last-child
						border-bottom: 0
					a
						padding: 10px

	
	#block1
		padding: 30px 0
		.text
			font-size: 14px
		.bg .list
			text-align: center
		.items
			overflow: hidden
			.images
				height: initial
				img
					position: static!important
					display: block
					margin: 0 auto 40px auto
	#block2
		padding: 20px 0
		.video
			position: static
			transform: none
			width: 100%
		
			iframe
				width: 100%
	#block4
		&:after
			content: none
		.text
			margin-bottom: 20px
		.button-block
			text-align: center
			a
				box-shadow: 0 2px 2px rgba(#000, .3)
	#block5 
		img
			bottom: 0
		.mb
			margin-bottom: 10px
	#block7 
		.item__6
			width: 100%
			margin-bottom: 20px
		.item__4
			width: 100%
			margin-bottom: 20px
		.item__line:after
			height: 100%
			width: 4px
			background: rgba(#f3c437, .2)
			border: 0
		.item__line2:before
			content: none
		.item__fullline:after
			height: 100%
			width: 4px
			height: 100%
			background: rgba(#f3c437, .2)
			border: 0
		.item__line3:after
			border: 0
			z-index: -1
			transition: width 2s ease
			content: ""
			top: 20%
			left: 50%
			height: 100%
			background: rgba(#f3c437, .2)
			width: 4px
			position: absolute
		.item__fullline2:after
			height: 100%
			border: 0
			background: rgba(#f3c437, .2)
			width: 4px
			left: 50%

	#block8
		.table
			width: 100%
			max-width: 500px
			overflow-x: scroll
			
	#block10
		background: radial-gradient(circle at 50% 50%,#ffe400,#ffd300)
		height: initial
		display: inline-block
		width: 100%
		.container
			width: 100%
			max-width: 100%
			padding: 0
		.item__block
			width: 100%
			padding: 20px 15px
			text-align: center
		&:after
			content: none
		#map
			position: static
			width: 100%
			height: 200px
	#footer form
		width: 100%

	.copyright
		text-align: center
	#block8 .table table thead th
		font-size: 12px



		


.slick-prev:after 
	content: url('../img/left_arrow.png')
	color: red
	font-size: 30px
.slick-next:after 
	content: url('../img/right_arrow.png')
	color: red
	font-size: 30px
.menu-mob
	display: none
h2
	font-size: 36px
	font-weight: 600
	letter-spacing: 2.6px
	text-align: center
